{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="icon" href="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/recuperar_senha.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/aviso.css' %}">
    <script src="{% static 'js/usuario/aviso.js' %}"></script>
</head>
<body>
    <main class="login-container">
        <div class="login-header">
            <a href="{% url 'login' %}">
                <img src="{% static 'icones-site/logo-nome-completo.png' %}" alt="Logo Habitus completo">
            </a>
        </div>

        <section class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h1>Recuperação de Senha</h1>
            <p>Informe o seu email cadastrado para receber as instruções de alteração de senha.</p>
            
            <form method="POST" action="{% url 'recuperar_senha' %}">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu email cadastrado">

                <button type="submit" class="btn-principal" style="margin-top: 15px;">Enviar email</button>
                <a class="btn-secundario" href="{% url 'login' %}">Voltar</a>
            </form>
        </section>
    
    </main>
</body>
</html>
